{% extends 'base.html' %}
{% load static %}
<head>
	{% block title %}
	<title>NeoWave Bank - Banca Personal y Servicios de Banca en Línea</title>
	{% endblock %}
	{% block stylecontent %}
	<link href="{% static 'css/index-home.css' %}" rel="stylesheet">
	<link href="{% static 'css/index-login.css' %}" rel="stylesheet">
	<link href="{% static 'css/form.css' %}" rel="stylesheet">
	<link href="{% static 'css/sub-footer.css' %}" rel="stylesheet">
	{% endblock %}
</head>
<body>
	{% block bodycontent %}
	{% if user.is_authenticated %}
	<div class="welcome-div">
		<h1>Bienvenido, {{ user.username }}</h1>
	</div>
	<section class="services">
			<br><h2 style="text-align: center;">Nuestros Servicios</h2>
			<div class="service-background">
				<div class="service-grid">
					<a href="/initiate_transaction">
					<div class="service-item">
						<img class="icon" src="../static/assets/moneyicon.png" alt="">
						<h3>Transferencia de Dinero</h3>
					</div></a>

					<a href="/useraccounts">
					<div class="service-item">
						<img class="icon" src="../static/assets/bankicon.png" alt="">
							<h3>Cuentas</h3>
					</div></a>

					<a href="/transaction_history">
					<div class="service-item history">
						<img class="icon" src="../static/assets/transaction.png" alt="">
						<h3>Historial de Transacciones</h3>
					</div></a>

					<a href="/cheque_details">
					<div class="service-item">
						<img class="icon" src="../static/assets/cheque.png" alt="">
						<h3>Cheques</h3>
					</div></a>

					<a href="/get_statement">
					<div class="service-item">
						<img class="icon" src="../static/assets/money_insights.png" alt="">
						<h3>Informes Financieros</h3>
					</div></a>

					<a href="https://rbi.org.in/Scripts/Complaints.aspx">
					<div class="service-item">
						<img class="icon" src="../static/assets/emergency.png" alt="">
						<h3>Emergencias</h3>
					</div></a>

				</div>
			</div>
	</section>
	{% else %}

	<section class="open-account">
		<div class="container">
			<div class="content open-account-div">
				<h1>PARA TODAS TUS NECESIDADES FINANCIERAS</h1>
				<p class="manage-money">
					Administra tu dinero con <span style="color: #2487CE;">tranquilidad</span></p>
				<a href="./register" class="open-account-button">Abrir&nbsp;Cuenta&nbsp;de&nbsp;Ahorros</a>
				<div class="open-account-image">
					<img src="{% static 'assets/homepage.png' %}" alt="front page">
				</div>
				<h1>OBTÉN UNA CUENTA DE AHORROS<br>COMO NINGUNA OTRA</h1>
			</div>
		</div>
	</section>

	<section class="bank-flash">
		<div class="container">
			<div class="content">
				<div class="bank-flash-div">
					<div class="bank-flash-image">
						<img src="{% static 'assets/zero balance.png' %}" alt="zero balance">
					</div>
					<div class="bank-flash-text">
						<h3>BANCO EN SEGUNDOS</h3>
						<b><h1>Banca a la Velocidad del Pensamiento: ¡Abre una Cuenta en un Instante!</h1></b>
						<p>¡Experimenta la configuración de cuenta más rápida en solo 60 segundos! Crea tu cuenta bancaria en línea con facilidad. Sin papeleo, sin esperas: ¡comienza a operar en un instante!</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="welcome-gift">
		<div class="container">
			<div class="content">
				<div class="welcome-gift-div">
					<div class="welcome-gift-text">
						<h3>REGALO DE BIENVENIDA EXCLUSIVO</h3>
						<b><h1>¡Bienvenido a Nuestro Banco: Recibe $1000 como Regalo!</h1></b>
						<p>¡Bienvenido a Nuestro Banco! Como nuevo usuario, estamos encantados de ofrecerte un regalo de bienvenida exclusivo de $1000 al abrir una cuenta con nosotros. Aprovecha esta oferta especial y comienza tu viaje bancario con nosotros hoy mismo.</p>
					</div>
					<div class="welcome-gift-image">
						<img src="{% static 'assets/cashback.png' %}" alt="front page">
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="sub-footer">
				<p>Pritam Shaw</p>
				<div class="footer-box-social">
					<ul>
						<li><a href="https://github.com/thepritamshaw" target="_blank"><img
									src="{% static 'assets/github-transparent.png' %}" alt="Github"></a>
							<div class="placeholder"></div>
						</li>
						<li><a href="https://www.linkedin.com/in/thepritamshaw/" target="_blank"><img
									src="{% static 'assets/linkedin-transparent.png' %}" alt="Linkedin"></a>
							<div class="placeholder"></div>
						</li>
						<li><a href="https://www.twitter.com/thepritamshaw/" target="_blank"><img
									src="{% static 'assets/twitter-transparent.png' %}" alt="Twitter"></a>
							<div class="placeholder"></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	{% endif %}
	{% endblock%}
</body>
</html>